<meta charset='UTF-8' />
<meta name='format-detection' content='telephone=no' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
{{! <link rel='shortcut icon' href='favicon.ico' /> }}
{{#if canonical}}
	<link rel='canonical' href='{{canonical}}' />
{{/if}}
{{#if description}}
	<meta name='description' content='{{description}}' />
{{/if}}
{{#if canonical}}
	<meta property='og:url' content='{{canonical}}' />
{{/if}}
<meta property='og:type' content='website' />
{{#if title}}
	<meta property='og:title' content='{{title}}' />
{{/if}}
{{#if description}}
	<meta property='og:description' content='{{description}}' />
{{/if}}
{{#if ogImage}}
	<meta property='og:image' content='{{ogImage}}' />
{{/if}}
{{#if nofollow}}
	<meta name='robots' content='noindex, nofollow' />
{{/if}}
{{#if title}}
	<title>
		{{title}}
	</title>
{{/if}}

<style>
	body {
		opacity: 0;
	}
</style>
